@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
:root {
  --primary-color: #1a1919;
  --title-color: #322153;
  --text-color: #313131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Roboto;
}

.container {
  padding: 90px 30px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-collumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: 1px solid #da1818;
  background: #da1818;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em;
  padding: 5px 7px;
  line-height: 15px;
  transition: 0.2s all ease;
}
.btn:hover {
  background-color: #c71313;
}

.btn * {
  float: left;
  margin-right: 5px;
}
